{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agricultural Information Platform</title>
    <link rel="stylesheet" href="/static/css/base.css" type="text/css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="{% url 'pages:Trends' %}">Agricultural Trends</a></li>
            <li><a href="{% url 'pages:practices' %}">Best practices</a></li>
            <li><a href="{% url 'pages:technologies' %}">New technologies</a></li>
            <li><a href="{% url 'pages:events' %}">Key events</a></li>
            <li><a href="{% url 'pages:about' %}">About us</a></li>
            <li><a href="/agronomy/">Voir nos produits agricoles</a></li>
        </ul>
    </nav>
{% block 'content' %}
{% endblock %}
</body>
</html>