{% extends 'base_template.html' %}
{% load static %}
{% block 'content' %}

    
    <header>
        <h1>À Propos de Notre Plateforme d'Informations Agricoles</h1>
    </header>
    <nav>
        <a href="/">Home</a>
    </nav>

    <section>
        <h3>Qui Sommes-Nous?</h3>
        <p>Nous sommes une plateforme dédiée à fournir des informations agricoles de qualité, des actualités sur les dernières technologies et pratiques agricoles, ainsi que des conseils pour les agriculteurs et les professionnels du secteur agricole.</p>
    </section>

    <section>
        <h3>Notre Mission</h3>
        <p>Notre mission est de promouvoir l'innovation et la durabilité dans le domaine agricole en partageant des connaissances précieuses et en encourageant l'adoption de pratiques agricoles modernes et respectueuses de l'environnement.</p>
    </section>

    <section>
        <h3>Contactez-Nous</h3>
        <p>Pour toute question, suggestion ou demande d'information supplémentaire, n'hésitez pas à nous contacter à l'adresse email contact@plateformedinformationsagricoles.com</p>
    </section>
        
 
    <!-- <footer>
        <p>&copy; 2024 Agricultural Information Platform</p>
    </footer> -->

{% endblock %}        