{% extends 'base_template.html' %}
{% load static %}
{% block 'content' %}
</head>
<body>
    
    <header>
        <h1>Best Practices in Agriculture</h1>
    </header>
    <nav>
        <a href="/">Home</a>
    </nav>
    <main>
        <p>Discover the best practices to enhance agricultural productivity.</p>
    </main>

    <ul>
        <li><strong>Agriculture de conservation :</strong> Cette approche vise à réduire au minimum le travail du sol, à maintenir une couverture végétale permanente et à diversifier les cultures pour améliorer la santé des sols et réduire l'érosion.</li>
        <li><strong>Agriculture de précision :</strong> L'utilisation de technologies telles que les drones, les capteurs et les systèmes d'information géographique pour optimiser les pratiques agricoles, améliorer l'efficacité des intrants et maximiser les rendements..</li>
        <li><strong>Agroforesterie :</strong>  L'intégration d'arbres dans les exploitations agricoles pour améliorer la biodiversité, la santé des sols, la régulation climatique et offrir des revenus supplémentaires grâce à la production de bois, de fruits ou d'autres produits forestiers.</li>
        <li><strong>Agriculture biologique :</strong>  La culture d'aliments sans l'utilisation de produits chimiques synthétiques, en favorisant des méthodes plus naturelles pour fertiliser et protéger les cultures, tout en préservant la santé des sols et de l'environnement.</li>
        <li><strong>Utilisation durable de l'eau:</strong> Des pratiques telles que l'irrigation de précision, la collecte des eaux de pluie, et la gestion efficace de l'eau pour garantir une utilisation responsable et durable des ressources en eau.</li>
        <li><strong>Rotation des cultures et cultures associées:</strong>Alterner les cultures et combiner différentes espèces végétales pour améliorer la fertilité du sol, réduire les maladies et ravageurs, et favoriser une utilisation efficace des ressources.</li>
        <li><strong>Utilisation de semences adaptées au climat:</strong>Le choix de variétés de cultures adaptées aux conditions climatiques locales pour garantir des rendements plus stables et résilients face aux changements climatiques.</li>
    </ul>
    
    <p>
        En adoptant ces pratiques agricoles modernes et durables, les agriculteurs peuvent améliorer la productivité, réduire leur impact environnemental et contribuer à la création d'un système agricole plus résilient et respectueux de l'environnement.
    </p>
    <footer>
        <p>&copy; 2024 Agricultural Information Platform</p>
    </footer>

{% endblock %}