{% extends 'base_template.html' %}
{% load static %}
{% block 'content' %}

    <header>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/Trends/">Agricultural Trends</a></li>
                <li><a href="/best_pratices/">Best practices</a></li>
                <li><a href="/new_technologies/">New technologies</a></li>
                <li><a href="/key_events/">Key events</a></li>
                <li><a href="/about/">About us</a></li>
                <li><a href="/blog/">Voir nos produits agricoles</a></li>
            </ul>
        </nav>
        <h1>Bienvenue sur Agricultural Information Platform</h1>
        <p>Obtenez les dernières informations sur les tendances agricoles, les meilleures pratiques,
        les nouvelles technologies, les réglementations et les événements clés dans le domaine de l'agronomie.</p>
    </header>

    <main>
        <p>
            <em>Welcome {% if user.is_authenticated %}{{ user.username }}{% endif %}!</em>
        </p>
    
        {% if user.is_authenticated %}
            <a class="btn" href="{% url 'accounts:profile' %}">View Profile</a>
        {% else %}
        <a href="{% url 'login' %}">
            <button>Login</button>
        </a>    
        {% endif %}
    </main>
        

    <article>
    <div>
        <img src="{% static 'pages/img/accueil3.jpg' %}">
        <img src="{% static 'pages/img/accueil1.jpg' %}">
        <img src="{% static 'pages/img/accueil2.jpg' %}">
    </div>
    </article> 
    
    {% endblock %}
