{% extends 'base_template.html' %}
{% load static %}
{% block 'content' %}

    <header>
       
        <h1>Bienvenue sur Agricultural Information Platform</h1>
        <p>Obtenez les dernières informations sur les tendances agricoles, les meilleures pratiques,
        les nouvelles technologies, les réglementations et les événements clés dans le domaine de l'agronomie.</p>
    </header>

    <main>
        <p>
            <em>{% if user.is_authenticated %}{{ user.username }}{% endif %}</em>
        </p>
    
        {% if user.is_authenticated %}
            <a class="btn" href="{% url 'accounts:profile' %}">View Profile</a>
        {% else %}
        <a href="{% url 'login' %}">
            <button>Login</button>
        </a>    
        {% endif %}
    </main>
        

    <article>
    <div>
        <img src="{% static 'pages/img/images (12).jpg' %}">
        <img src="{% static 'pages/img/images (14).jpg' %}">
        <img src="{% static 'pages/img/images (8).jpg' %}">
    </div>
    </article> 
    
    {% endblock %}
