{% extends 'base_template.html' %}
{% load static %}
{% block 'content' %}

    
    <header>
        <h1>New Technologies in Agriculture</h1>
    </header>

    <h2>Les Dernières Avancées Technologiques en Agriculture pour 2024</h2>

    <p>Découvrez les toutes dernières technologies révolutionnant le secteur agricole en 2024, de l'agriculture de précision à l'intelligence artificielle.</p>

    <h3>Nos Services</h3>
    
    <ul>
        <li>Agriculture de Précision </li>
        <li>Robotique Agricole</li>
        <li>IoT (Internet des Objets) en Agriculture</li>
        <li>Technologies Vertes pour une Agriculture Durable</li>
        <img src="{% static 'pages/img/images (5).jpg' %}">
        <img src="{% static 'pages/img/images.jpg' %}">
    </ul>

    <p>Nous nous engageons à vous fournir les toutes dernières informations sur les technologies agricoles de pointe pour accroître l'efficacité et la durabilité de l'agriculture.</p>


    <footer>
        <p>&copy; 2024 Agricultural Information Platform</p>
    </footer>

{% endblock %}    