body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #48c422;
    text-align: center;
}

header {
    background-color: #235c12;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav {
    background-color: #34eb44;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}


main {
    padding: 20px;
}

footer {
    background-color:#235c12;
    color: white;
    text-align: center;
    padding: 10px 0;
}

h1 {
    font-size: 24px;
    text-align: center;
}

h2 {
    font-size: 20px;
    color: white;
}

h3 {
    font-size: 20px;
    color: rgb(26, 7, 112);
    margin-bottom: 10px;
}

p {
    line-height: 1.5;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}
/* Styles pour la mise en page de la section "À Propos" */

section {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Style des boutons */
button, input[type="button"], input[type="submit"] {
    background-color: #2a6105;
    color: white;
    border: none;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 5px;
    
}







