

<p>
    <a href="{% url 'agronomy:article_list' %}">Articles_list</a>
</p>

{% block title %}Create a new Article{% endblock %}

{% block content %}

<form action="{% url 'agronomy:article_add' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    
    <input type="submit" value="Submit">
</form>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #48c422;
        text-align: center;
        align-items: normal;
    }
    button, input[type="button"], input[type="submit"] {
        background-color: #2a6105;
        color: white;
        border: none;
        padding: 5px 10px;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        margin: 2px 2px;
        cursor: pointer;
        border-radius: 5px;
    }

</style>

{% endblock %}