{% extends 'base_template.html' %}

{% block 'title' %}{{ article.title }}{% endblock %}

{% block 'content' %}


    <!-- {% if perms.blog.delete_article %}
    <form action="{% url 'blog:article_delete' article.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete">
    </form>
    {% endif %} -->

    
    <a href="{% url 'blog:article_list' %}">List_of_articles</a>
    <h1>Delete Post: {{ article.title }}</h1>
    <form action="{% url 'blog:article_delete' article.id %}" method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete this post?</p>
        <input type="submit" value="Yes">
        <a href="{{ article.get_absolute_url }}">
            <input type="button" value="Cancel"></a>
    </form>

{% endblock %}