

{% block title %}
    
{% endblock %}

{% block content %}
    <p>
        <a href="{% url 'blog:article_list' %}">Articles_list</a>
    </p>
    
    <h1>{{ article.title }}</h1>
    <p><strong>Introduction:</strong> {{ article.introduction }}</p>
    <p><strong>Informations techniques:</strong> {{ article.technical_info }}</p>
    <p><strong>Conseils pratiques:</strong> {{ article.practical_tips }}</p>
    <p><strong>Témoignages:</strong> {{ article.testimonials }}</p>
    {% if article.infographic %}
        <img src="{{ article.infographic.url }}" alt="Infographic" style="width:400px">
    {% endif %}
    <p><strong>Liens:</strong> <a href="{{ article.links }}">{{ article.links }}</a></p>
    <p><strong>Conclusion:</strong> {{ article.conclusion }}</p>

    {% if user.is_authenticated and user.is_staff %}
        <a href="{% url 'blog:article_change' article.pk %}">Modifier</a>
        <a href="{% url 'blog:article_delete' article.pk %}">Supprimer</a>
    {% endif %}
    

    <style>
        body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #48c422;
        text-align: center;
        align-items: normal;
}
    </style>
{% endblock %}