{% extends 'base_template.html' %}

{% block 'title' %}Events{% endblock %}

{% block 'content' %}

    <h1>Événements</h1>

     <!-- Ajouter un lien pour créer un nouvel événement -->
     <a href="{% url 'blog:create_event' %}">Créer un événement</a>
    
    <ul>
        {% for event in events %}
            <li><a href="{% url 'blog:event_detail' event.pk %}">{{ event.title }}</a></li>
       
            <li><a href="{{ event.get_absolute_url }}"></a></li>
    
        {% endfor %}
    </ul>
{% endblock %}

