{% extends 'base_template.html' %}

{% block 'title' %}Agricultural plateform Blog{% endblock %}

{% block 'content' %}

    <h1>Agricultural plateform information Blog</h1>
        <ul>
            {% for post in blog_posts %}
            <a href="{{ post.get_absolute_url }}">
                <li>{{ post.title }} (<em>{{ post.pub_date }}</em>)</li>
                {% if post.is_published %}
                    <a href="{% url 'blog:post-change' post.id %}">
                        <button>Edit</button>
                    </a>
                    <a href="{% url 'blog:post-delete' post.id %}">
                        <button>Delete</button>
                    </a>
             {% endif %}
            
            </a>
            {% endfor %}
        </ul>
        

        {% if perms.blog.add_blogpost %}
        <p>
            <a href="{% url 'blog:post-add' %}">
                <button>Add a New one</button>
            </a>
        </p>
        {% endif %}


{% endblock %}
